{% extends 'genomApp/base.html' %}
{% load static %}

{% block title %} Compte {% endblock %}

{% block content %}

<form action="" method="post" novalidate="">
    {% csrf_token %}

    <div class="container-fluid">
        <div class="row justify-content-md-center">

            <div class="col-md-5">
                <div class="mt-5"></div>
                <div class="border bg-success p-2 mb-2 rounded-1 bg-opacity-25 text-dark">
                    <div class="h4 pb-2 mb-4 border-bottom border-dark">
                        <center> Bienvenue <br> <I> {{ email }} </I> <br> Que voulez-vous modifier ? </center>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label for="input_prenom" class="form-label">Prénom : </label><br>
                            <!-- <input type="text" class="form-control" id="input_prenom"> -->
                            {{ form.firstName}}
                        </div>
                        <div class="col">
                            <label for="input_nom" class="form-label">Nom : </label><br>
                            <!-- <input type="text" class="form-control" id="input_nom"> -->
                            {{ form.lastName }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="mt-3">
                                <label for="input_pwd" class="form-label">Mot de Passe<text class=text-danger>*
                                    </text>: </label>
                                <!-- <input type="password" class="form-control" id="input_pwd"> -->
                                {{ form.password1 }}
                            </div>
                        </div>
                        <div class="col">

                            <div class="mt-3">
                                <label for="input_pwd2" class="form-label">Mot de passe une nouvelle fois<text
                                        class=text-danger>*
                                    </text>: </label>
                                <!-- <input type="password" class="form-control" id="input_pwd2"> -->
                                {{ form.password2 }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="mt-3">
                                    <label for="input_tel" class="form-label">Numéro de téléphone : </label>
                                    <!-- <input type="text" class="form-control" id="input_tel" placeholder="XX XX XX XX XX"> -->
                                    {{ form.phone }}
                                </div>
                            </div>
                            <div class="col">
                            </div>
                        </div>

                        {% if form.errors %}
                        <center>
                            <text class=text-danger> Mise à jour de vos données non sauvegardées : <br>
                                {{ form.errors }}
                            </text>
                        </center>
                        {% endif %}
                        <center>
                            <text class=text-danger>
                                {{ messageError }} </text>
                        </center>

                        <div class="mt-3">
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <button type="submit" class="btn btn-outline-dark">Modifier</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
</form>
</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var checkbox = $("#checkbox");
        var password = $("#input_pwd");
        checkbox.click(function () {
            if (checkbox.prop("checked")) {
                password.attr("type", "text");
            } else {
                password.attr("type", "password");
            }
        });
    });
</script>
<!-- https://openclassrooms.com/forum/sujet/afficher-mot-de-passe -->

{% endblock %}