{% extends 'genomApp/base.html' %}
{% load static %}

{% block title %} Affectation {% endblock %}

{% block content %}

{% if people.profile >= 3 and people.connecte %}

<div class="container">
    <div class="row">
        <div class="mt-5"></div>
        <div class="h3 pb-2 mb-4 border-bottom border-dark">Recherche de protéines à affecter</div>
        <div class="my-2">
        </div>

        <form action="" method="post" novalidate="">
            {% csrf_token %}
            <h5>
            Pour affecter une protéine à annoter, il faut d'abord sélectionner la page. Pour effectuer cela,
            vous pouvez chercher son ID dans la base.
            </h5>
            <br>
                <div class="col-3 creation-discussion-box">
                    <input type="text" class="form-control" style="flex: 1; margin-right: 80px;" placeholder="ID Protéine"
                        name="ID" maxlength="1000" required="" id="id_ID">
                    <input type="submit" class="btn btn-outline-secondary" style="flex: 1;"
                        value="Soumettre">
                </div>
                <br>
        </form>

        {% for id in ids %}
        <h5>
            Résultats de la recherche:
        </h5>
            {% if id.exits %}
                <a href="{% url 'genomApp:aff_ann_res' result_id=id.id %}">{{ id.id }}</a> 
            {% else %}
                <a>"{{ id.id }}" n'existe pas dans la base de données.</a>
            {% endif %}
        {% endfor %}




    </div>
</div>




{% else %}

<div class="mt-5"></div>
<div class="container-fluid" style="text-align: center;">
        <img src="{% static 'erreur.jpg' %}" alt="erreur" width="1000">
</div>

{% endif %}
{% endblock %}