{% extends 'genomApp/base.html' %}
{% load static %}

{% block title %} Accueil {% endblock %}

{% block content %}
<div class="container">
    <div class="mt-5">
        <div class="h3 pb-2 mb-4 border-bottom border-dark">Accueil</div>
        <div class="row">
            <div class="col-4">

                <p align="center">
                    <img src="{% static 'logo.png' %}" width="350">
                </p>


            </div>
            <div class="col-8 mt-3">
                <div class="mb-4">
                    <h3>
                        <p class="text-center titre2">Bienvenue à Genomicus !</p>
                    </h3>
                </div>
                <center> <I>
                        <font color="#0acd1e"> {{ messageAccueilBienInscritOuMajCompte }} </font> <br>
                    </I> </center>

                <h5 align="justify">
                    Voyez notre site comme le squelette d'un diplodocus, chaque os est une
                    protéine ou une CDS composant un génome. Notre base de données est comme un musée des sciences
                    naturelles, où chaque os est soigneusement catalogué et classé pour une étude approfondie. <br>
                    <br>
                    De la même manière, notre base de données de séquences nucléotidiques ou protéiques est un
                    outil puissant pour la recherche génomique, permettant aux chercheurs d'étudier et de comprendre
                    les secrets de cette discipline. <br>
                    <br>
                    Genomicus permet la recherche de génomes ou de protéines, sélectionnez quel type de
                    recherche vous souhaitez effectuer. <br>
                    <br>
                    <p class="text-center">Bonne navigation !</p>
                </h5>
                <center>
                    <a href="{% url 'genomApp:formulaire_genome' %}">
                        <img src="{% static 'genome_bouton.png' %}" width="250" />
                    </a>

                    <a href="{% url 'genomApp:prot_gene' %}">
                        <img src="{% static 'prot_cds_button.png' %}" width="250" />
                    </a>
                </center>
                <br>
                <br>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock %}
