{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
    <title>Accueil</title>
</head>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<link type="text/css" href="{% static 'mise_en_page.css' %}" rel="stylesheet">

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"></script>

<!--Navigation bar-->
<nav class="navbar navbar-expand-lg bg-success p-2 bg-opacity-25">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <a class="navbar-brand" href="{% url 'genomApp:formulaire_genome' %}">
                <img src="{% static 'logo.png' %}" alt="logo" width="40" height="34" class="d-inline-block align-text">
                GENOMICUS
            </a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'genomApp:formulaire_genome' %}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'genomApp:accueil_annotateur' %}">Annotation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'genomApp:accueil_validateur' %}">Validation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'genomApp:accueil_admin' %}">Page Administrateur</a>
                </li>
            </ul>

            <a role="button" class="btn btn-outline-secondary" href="{% url 'genomApp:connexion' %}">Connexion</a>

        </div>
    </div>
</nav>
<!--end of Navigation bar-->

<div class="container">  
    <div class="mt-5"></div>
    <div class="h3 pb-2 mb-4 border-bottom border-dark">Formulaire</div>
    <div class="row">

  <ul class="nav nav-pills">  
    <li class="nav-item">  
        <a class="nav-link active" href="{% url 'genomApp:formulaire_genome' %}" >Génome</a>  
      </li>  
      <li class="nav-item">  
        <a class="nav-link" href="{% url 'genomApp:prot_gene' %}">Protéine</a></li>  
  </ul>  
  
                <form action="" method="post" novalidate="">
                    {% csrf_token %}
                    <p>
                    <div class="mt-3">
                        <label for="id_ID" class="form-label"> ID :</label>
                        <input type="text" class="form-control" name="ID" maxlength="100" required="" id="id_ID">
                    </div>
                    </p>
                    <p>
                    <div class="mt-3">
                        <label for="id_motif" class="form-label">Motif recherché :</label>
                        <input type="text" class="form-control" name="motif" maxlength="100" required="" id="id_motif">
                    </div>
                    </p>
                    <p>
                    <div class="mt-3">
                        <label for="id_espece" class="form-label">Espèce :</label>
                        <input type="text" class="form-control" name="espece" maxlength="100" required="" id="id_espece">
                    </div>
                    </p>
                    <p>
                    <div class="mt-3">
                        <label for="id_tailleMin" class="form-label" >Taille minimale :</label>
                        <input type="text" class="form-control" name="tailleMin" maxlength="100" required="" id="id_tailleMin">
                    </div>
                    </p>
                    <p>
                    <div class="mt-3">
                        <label for="id_tailleMax" class="form-label" >Taille maximale :</label>
                        <input type="text" class="form-control" name="tailleMax" maxlength="100" required="" id="id_tailleMax">
                    </div>
                    </p>
                    <p>
                    <div class="mt-3">
                        <label class="form-label" >BDD :</label>
                    </p>
                    <div id="id_nomBDD">
                        <div>
                            <label class="form-check-label" for="id_nomBDD_0"><input class="form-check-input" type="radio" name="nomBDD" value="Genomicus" checked id="id_nomBDD_0">
                            Genomicus</label>
                        </div>
                        <div>
                            <label class="form-check-label" for="id_nomBDD_1"><input class="form-check-input" type="radio" name="nomBDD" value="BDD1" id="id_nomBDD_1">
                            BDD1</label>
                        </div>
                    </div>
                    </div>
                    <p></p>
                    <div class="my-3 d-flex justify-content-end">
                    <input type="submit" value="Soumettre">
                    </div>
                </form>
    </div>
</div>