{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
    <title>Forum</title>
</head>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<!--<link type="text/css" href="{% static 'mise_en_page.css' %}" rel="stylesheet">-->
<link rel="stylesheet" href="/static/mise_en_page.css?{% now " U" %}" />

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<!--Navigation bar-->
<nav class="navbar navbar-expand-lg bg-success p-2 bg-opacity-25">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <a class="navbar-brand" href="{% url 'genomApp:accueil' %}">
                <img src="{% static 'logo.png' %}" alt="logo" width="40" height="40" class="d-inline-block align-text">
                GENOMICUS
            </a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'genomApp:accueil' %}">Accueil</a>
                </li>

                <!-- une personne de degre plus fort a accès aux pages 'inferieure'-->
                {% if people.profile == 2 and people.connecte %} <!-- 2 : correspond à annotateur -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'genomApp:accueil_annotateur' %}">Annotation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'genomApp:accueil_forum_genome' %}">Forum</a>
                </li>
                {% elif people.profile == 3 and people.connecte %} <!-- 3 : correspond à validateur-->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'genomApp:accueil_annotateur' %}">Annotation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'genomApp:accueil_validateur' %}">Validation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'genomApp:accueil_forum_genome' %}">Forum</a>
                </li>
                {% elif people.profile == 4 and people.connecte %} <!-- 4 : correspond à admin-->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'genomApp:accueil_annotateur' %}">Annotation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'genomApp:accueil_validateur' %}">Validation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:8000/admin/">Page Administrateur</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'genomApp:accueil_forum_genome' %}">Forum</a>
                </li>
                {% endif %}
            </ul>

            <div class="dropdown">
                <button class="btn btn-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-right: 10px;">
                    <i class="fas fa-question"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="{% url 'genomApp:contact' %}">Un problème ? Contactez nous.</a>
                </div>
            </div>

            {% if people.connecte %}
            <a role="button" class="btn btn-outline-secondary" href="{% url 'member:updateInformation' %}" style="margin-right: 10px;">Bienvenue 
                {{ people.who }}</a>
            <a role="button" class="btn btn-outline-secondary" href="{% url 'member:deconnexion' %}">Déconnexion</a>
            {% else %}
            <a role="button" class="btn btn-outline-secondary" href="{% url 'member:connexion' %}">Connexion</a>
            {% endif %}
        </div>
    </div>
</nav>
<!--end of Navigation bar-->

{% if people.profile >= 2 and people.connecte %}

<style>
    .creation-discussion-box {
    display: flex;
    align-items: center; 
    justify-content: center;
    width: 800px;
    padding: 20px;
    margin:0 auto;
    background-color: #f2f2f2;
    border: 1px solid #cbc2c0;
    border-radius: 5px;
    }

    .forum-box {
      margin: 20px auto;
      padding: 20px;
      background-color: #f2f2f2;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-family:helvetica;
    }
</style>

<div class="container">
    <div class="mt-5"></div>
    <div class="h3 pb-2 mb-4 border-bottom border-dark">Forum</div>

    <form action="" method="post" novalidate="">
        {% csrf_token %}
        
        <div class="col-3 creation-discussion-box">
            <input type="text" class="form-control" style="flex: 1; margin-right: 80px;" placeholder="ID Protéine" name="id_prot" maxlength="1000" required="" id="id_prot">
            <input type="submit" class="btn btn-outline-secondary" style="flex: 1;" value="Créer ou ouvrir une discussion" >
        </div>
    </form>
    

  
    <div class="mt-5"></div>
    <div class="h3 pb-2 mb-4 border-bottom" style="border-bottom: 2px solid #cbc2c0; width: 90%; margin:auto;">Déjà existants</div>

        <div class="my-3"></div>
        {% for id_chr, info_forum in d.items %}
    <details>
        <summary id="summary_{{ id_chr }}">
                <h4>{{ id_chr }}</h4>
        </summary>

        <table class="table table-sm table-light forum-box align-text">
            <thead>
                {% for id_forum, info_forum2 in info_forum.items %}
                <tr>
                    <th class="text-center" scope="col"> <a href="{% url 'genomApp:forum' id=id_forum %}"><big>{{id_forum}}</big></a></th>
                    <th class="text-center" scope="col">Créateur : {{info_forum2.auteur}}</th>
                    <th class="text-center" scope="col">Date de création : {{info_forum2.date}}</th>
                    <th class="text-center" scope="col">Nombre de commentaires : {{info_forum2.nb_comment}}</th>
                </tr>
                {% endfor %}
            </thead>
        </table>
    </details>
    {% endfor %}


</div>
</div>

{% else %}

<div class="mt-5"></div>
<div class="container-fluid" style="text-align: center;">
        <img src="{% static 'erreur.jpg' %}" alt="erreur" width="1000">
</div>

{% endif %}


<script>
    let err = "{{error}}";
    if (err==='N') {
            alert("Cette protéine n'est pas dans Genomicus.");
            event.preventDefault();
    }

    $(document).ready(function () {
        $("#id_prot").autocomplete({
            source: function (request, response) {
                $.getJSON("id_proteine_autocomplete/", {
                    term: request.term
                }, response);
            }
        });
    });

</script>

</html>


  