{% extends 'genomApp/base.html' %}
{% load static %}

{% block title %} Accueil Protéine & CDS{% endblock %}

{% block content %}

<div class="container">
    <div class="mt-5"></div>
    <div class="h3 pb-2 mb-4 border-bottom border-dark">Formulaire</div>
    <div class="row">

        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'genomApp:formulaire_genome' %}">Génome</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'genomApp:prot_gene' %}">Protéine</a>
            </li>
        </ul>

        <form action="" method="post" novalidate="">
            {% csrf_token %}
            <p>
            <div class="mt-3">
                <label class="form-label">BDD :</label>
                </p>
                <div id="id_nomBDD">
                    <div>
                        <label class="form-check-label" for="id_genomicus"><input class="form-check-input" type="radio"
                                name="nomBDD" value="Genomicus" checked id="id_genomicus" onclick="enableField()">
                            Genomicus</label>
                    </div>
                    <div>
                        <label class="form-check-label" for="id_ncbi"><input class="form-check-input" type="radio"
                                name="nomBDD" value="NCBI Proteine" id="id_ncbi" onclick="disableField()">
                            NCBI Proteine</label>
                    </div>
                </div>
            </div>
            <p>
            <div class="mt-3">
                <label for="id_ID" class="form-label"> ID :</label>
                <input type="text" class="form-control" name="ID" maxlength="100" required="" id="id_ID">
            </div>
            </p>
            <p>
            <div class="mt-3">
                <label for="id_ID_chr" class="form-label"> ID du chromosome :</label>
                <input type="text" class="form-control" name="ID_chr" maxlength="100" required="" id="id_ID_chr">
            </div>
            </p>
            <p>
            <div class="mt-3">
                <label for="id_gene" class="form-label"> Gène :</label>
                <input type="text" class="form-control" name="gene" maxlength="100" required="" id="id_gene">
            </div>
            </p>
            <div class="mt-3">
                <label for="id_motif" class="form-label">Motif recherché :</label>
                <input type="text" class="form-control" name="motif" maxlength="500" required="" id="id_motif">
                <small>Les motifs comme %ATCG% (nucléotides) ou %MIAG% (acides aminés) sont autorisés.</small>
            </div>
            </p>
            <p>
            <div class="mt-3">
                <label for="id_espece" class="form-label">Espèce :</label>
                <input type="text" class="form-control" name="espece" maxlength="100" required="" id="id_espece">
            </div>
            </p>
            <p>
            <div class="mt-3">
                <label for="id_tailleMin" class="form-label">Taille minimale :</label>
                <input type="text" class="form-control" name="tailleMin" maxlength="100" required="" id="id_tailleMin">
            </div>
            </p>
            <p>
            <div class="mt-3">
                <label for="id_tailleMax" class="form-label">Taille maximale :</label>
                <input type="text" class="form-control" name="tailleMax" maxlength="100" required="" id="id_tailleMax">
            </div>
            </p>
            <p></p>
            <div class="my-3 d-flex justify-content-end">
                <input type="submit" class="btn btn-outline-success" value="Rechercher">
            </div>

        </form>
    </div>
</div>
</div>
<br><br>
<script>
    function disableField() {
        document.querySelector("#id_motif").disabled = true;
        document.querySelector("#id_ratio").disabled = true;
        document.querySelector("#id_tailleMax").disabled = true;
        document.querySelector("#id_tailleMin").disabled = true;
    }

    function enableField() {
        document.querySelector("#id_motif").disabled = false;
        document.querySelector("#id_ratio").disabled = false;
        document.querySelector("#id_tailleMax").disabled = false;
        document.querySelector("#id_tailleMin").disabled = false;
    }

    const motifInput = document.querySelector("#id_motif");
    const form = document.querySelector("form");

    form.addEventListener("submit", function (event) {
        const sequence = motifInput.value;
        const aminoAcidRegex = /^[ARNDCEQGHILKMFPSTWYV]*$/;

        if (!aminoAcidRegex.test(sequence)) {
            alert("La séquence entrée n'est pas une séquence valide.");
            event.preventDefault();
        }
    });

    var cache = {};
    $(document).ready(function () {
        $("#id_ID_chr").autocomplete({
            source: function (request, response) {
                $.getJSON("id_chr_proteine_autocomplete/", {
                    term: request.term
                }, response);
            }
        });
        $("#id_espece").autocomplete({
            source: function (request, response) {
                $.getJSON("species_proteine_autocomplete/", {
                    term: request.term
                }, response);
            }
        });
        $("#id_gene").autocomplete({
            source: function (request, response) {
                $.getJSON("gene_proteine_autocomplete/", {
                    term: request.term
                }, response);
            }
        });
    });

</script>

{% endblock %}