{% extends 'genomApp/base.html' %}
{% load static %}

{% block title %} Forum {% endblock %}

{% block content %}

<!--Autocompletion -->
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

{% if people.profile >= 2 and people.connecte %}

<div class="container">
    <div class="mt-5"></div>
    <div class="h3 pb-2 mb-4 border-bottom border-dark">Forum</div>

    <form action="" method="post" novalidate="">
        {% csrf_token %}

        <div class="col-3 creation-discussion-box">
            <input type="text" class="form-control" style="flex: 1; margin-right: 80px;" placeholder="ID Protéine"
                name="id_prot" maxlength="1000" required="" id="id_prot">
            <input type="submit" class="btn btn-outline-secondary" style="flex: 1;"
                value="Créer ou ouvrir une discussion">
        </div>
    </form>

    <div class="h3 pb-2 mb-4 mt-5 border-bottom titre2" style="border-bottom: 2px solid #cbc2c0; width: 90%;">Déjà
        existants</div>

    <div class="my-3"></div>
    {% for id_chr, info_forum in d.items %}
    <details>
        <summary id="summary_{{ id_chr }}">
            <h4>{{ id_chr }}</h4>
        </summary>

        <table class="table table-sm table-light forum-box align-text">
            <thead>
                {% for id_forum, info_forum2 in info_forum.items %}
                <thead>
                    <tr>
                        <th class="text-center" scope="col">Identifiant de la protéine/CDS</th>
                        <th class="text-center" scope="col">Créateur</th>
                        <th class="text-center" scope="col">Date de création</th>
                        <th class="text-center" scope="col">Nombre de commentaires</th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="text-center" scope="col"> <a
                            href="{% url 'genomApp:forum' id=id_forum %}"><big>{{id_forum}}</big></a></td>
                    <td class="text-center" scope="col">{{info_forum2.auteur}}</td>
                    <td class="text-center" scope="col">{{info_forum2.date}}</td>
                    <td class="text-center" scope="col">{{info_forum2.nb_comment}}</td>
                </tr>
            </tbody>
                {% endfor %}
            </thead>
        </table>
    </details>
    {% endfor %}


</div>
</div>

{% else %}

<div class="mt-5"></div>
<div class="container-fluid" style="text-align: center;">
    <img src="{% static 'erreur.jpg' %}" alt="erreur" width="1000">
</div>

{% endif %}


<script>
    let err = "{{error}}";
    if (err === 'N') {
        alert("Cette protéine n'est pas dans Genomicus.");
        event.preventDefault();
    }

    $(document).ready(function () {
        $("#id_prot").autocomplete({
            source: function (request, response) {
                $.getJSON("id_proteine_autocomplete/", {
                    term: request.term
                }, response);
            }
        });
    });

</script>

{% endblock %}