{% extends 'genomApp/base.html' %}
{% load static %}

{% block title %} Déjà Affectées {% endblock %}

{% block content %}

{% if people.profile >= 3 and people.connecte %}

<div class="container">
    <div class="mt-5"></div>
    <div class="h3 pb-2 mb-4 border-bottom border-dark">Déjà Affectées</div>
    <div class="col-4 my-3">
    </div>

    {% for p in annotateurs %}
    <details>
        <summary>
            <h4>{{p.key}}</h4>
        </summary>
        <table class="table table-sm table-light">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Identifiant Protéine ou CDS</th>
                </tr>
            </thead>
            <tbody>
                {% for a in p.val %}
                <tr>
                    <th>{{a.num}}.</th>
                    <td>{{a.id}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </details>
    {% endfor %}

</div>

{% else %}

<div class="mt-5"></div>
<div class="container-fluid" style="text-align: center;">
        <img src="{% static 'erreur.jpg' %}" alt="erreur" width="1000">
</div>

{% endif %}

{% endblock %}