{% extends 'genomApp/base.html' %}
{% load static %}

{% block title %} Annotation {% endblock %}

{% block content %}

{% if people.profile >= 2 and people.connecte %}

<div class="container">
    <div class="mt-5"></div>
    <div class="h3 pb-2 mb-4 border-bottom border-dark">Annotations possibles</div>


    <h4> Protéines :</h4>
    <div class="my-3">
    </div>

    <table class="table table-sm table-light">

        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Identification</th>
                <th scope="col">Espèce</th>
                <th scope="col">Chromosome</th>
                <th scope="col">Position</th>
                <th scope="col">Déjà Annotée</th>

            </tr>
        </thead>
        <tbody>
            {% for g in genes %}
            <tr>
                <th>{{g.num}}.</th>
                <td><a href="{% url 'genomApp:protein_annotation' result_id=g.id%}">{{ g.id }}</a></td>
                <td>{{ g.espece }}</td>
                <td>{{ g.chromosone }}</td>
                <td>{{ g.start }}:{{ g.stop }}</td>
                <td>{{ g.annotated }}
                    {% if g.annotated %}
                    <a href="{% url 'genomApp:view_annotation' result_id=g.id%}">(View)</a>
                    {% endif %}

                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>


</div>

{% else %}

<div class="mt-5"></div>
<div class="container-fluid" style="text-align: center;">
        <img src="{% static 'erreur.jpg' %}" alt="erreur" width="1000">
</div>

{% endif %}


{% endblock %}