{% extends 'genomApp/base.html' %}
{% load static %}

{% block title %} Forum {% endblock %}

{% block content %}

{% if people.profile >= 2 and people.connecte %}

<div class="container">
    <div class="mt-5"></div> 
    <div class="h3 pb-2 mb-4 border-bottom border-dark">Forum - Discussion sur {{ id }}</div>
    <div class="row">

    {% for key, value in comment.items %}
    <div class="forum-box">
        <font class=fonce> écrit le {{value.date}} par {{value.auteur}}: </font>
        {% if value.date_update %}
        <br>
        <font class=fonce> modifié le {{value.date_update}} </font>
        {% endif %}
        <br>
        {{value.text}}
    {% if people.who == value.auteur %}
    <div class="my+2 d-flex justify-content-end">
        <a href="{% url 'genomApp:deleteComment' id_forum=id id_com=key %}" class="link-light" >&#10060</a>
    </div>
    <div class="my+2 d-flex justify-content-end">
        <a href="{% url 'genomApp:updateComment' id_forum=id id_com=key %}" class="link-light" >&#128395</a>
    </div>
    {% endif %}
    </div>
    {% endfor %}

    <form action="" method="post" novalidate="">
        {% csrf_token %}
        <div class="forum-box">
            <label for="id_text" class="form-label"> Répondre :</label>
            <input type="text" class="form-control" name="text" maxlength="1000" required="" id="id_text">
        </div>

        <input id="id_date" name="date" type="hidden">
        <input id="id_auteur_email" name="auteur" type="hidden" value="{{people.email}}">
        <input id="id_forum" name="forum" type="hidden" value="{{id}}">

        <div class="my-3 d-flex justify-content-end">
            <input class="btn btn-outline-secondary" type="submit" value="Envoyer la réponse">
        </div>
    </form>

    </div>
</div>

{% else %}

<div class="mt-5"></div>
<div class="container-fluid" style="text-align: center;">
        <img src="{% static 'erreur.jpg' %}" alt="erreur" width="1000">
</div>

{% endif %}
<br><br>

<script type="text/javascript">
    document.getElementById("id_date").value = new Date().toISOString().substr(0, 10);
</script>

{% endblock %}
