{% extends 'genomApp/base.html' %}
{% load static %}

{% block title %} Forum {% endblock %}

{% block content %}

<div class="container">
    <div class="mt-5"></div>
    <div class="h3 pb-2 mb-4 border-bottom border-dark">Forum - Discussion sur {{ id_forum }}</div>
    <div class="row">

    {% for key, value in comment.items %}
    <div class="forum-box">
        <font class=fonce> écrit le {{value.date}} par {{value.auteur}}: </font>
        <br>
        {{value.text}}
        {% if people.who == value.auteur %}
        <div class="my+2 d-flex justify-content-end">
        <a href="{% url 'genomApp:deleteComment' id_forum=id_forum id_com=key %}" class="link-light" >&#10060</a>
        </div>
        <div class="my+2 d-flex justify-content-end">
        <a href="{% url 'genomApp:updateComment' id_forum=id_forum id_com=key %}" class="link-light" >&#128395</a>
        </div>
        {% endif %}
    {% if key == id_com %}
    <div class="mt-5"></div>
    <form action="" method="post" novalidate="">
        {% csrf_token %}
        <div class="modification-box">
            <label for="id_text" class="form-label"> Modifier :</label>
            <input type="text" class="form-control" name="updated_text" maxlength="1000" required="" id="id_text" value="{{value.text}}">
        </div>

        <input id="id_updated_date" name="updated_date" type="hidden">
        <input id="id_auteur_email_up" name="auteur" type="hidden" value="{{people.email}}">
        <input id="id_forum_up" name="forum" type="hidden" value="{{id}}">

        <div class="my-3 d-flex justify-content-end">
            <input class="btn btn-outline-secondary" type="submit" value="Modifier">
        </div>
    </form>
    {% endif %}
    </div>
    {% endfor %}
    </div>
</div>

<br><br>

{% else %}

<div class="mt-5"></div>
<div class="container-fluid" style="text-align: center;">
        <img src="{% static 'erreur.jpg' %}" alt="erreur" width="1000">
</div>

{% endif %}


<script type="text/javascript">
    document.getElementById("id_updated_date").value = new Date().toISOString().substr(0, 10);
</script>

{% endblock %}