{% extends 'genomApp/base.html' %}
{% load static %}

{% block title %} Informations relatives {% endblock %}

{% block content %}


<div class="container" style="margin-bottom: 50px;">
    <div class="mt-5"></div>
    {% if annotating or view_annotation%}
    <div class="h3 pb-2 mb-4 border-bottom border-dark">Annotation des informations relatives aux gènes</div>
    {% else %}
    <div class="h3 pb-2 mb-4 border-bottom border-dark">Informations relatives aux gènes</div>
    {% endif %}
    <div class="my-4">

        {% if people.profile >= 2 and people.connecte %}
        {% if allowed_2_annotate %}
        {% if not annotating %}
        <!--SHOW ANNOTATION BUTTON IF POSSIBLE OR NOT-->
        <div class="row">
            <div class="col-2">
            </div>
            <div class="col-9"></div>
            <div class="col-1">
                <a role="button" class="btn btn-outline-secondary" href="{% url 'genomApp:protein_annotation' result_id=shown_id%}">Annotation</a>
            </div>
        </div>
        {% endif %}
        {% endif %}
        {% endif %}

        <!--SHOW Possible annotateur BUTTON IF POSSIBLE OR NOT-->
        {% if people.profile >= 3 and people.connecte %}
        {% if not annotating %}
        <div class="row">
            <div class="col-2">
            </div>
            <div class="col-8"></div>
            <div class="col-2">
                <a role="button" class="btn btn-outline-secondary" href="{% url 'genomApp:aff_ann_res' result_id=shown_id%}">Affecter un annotateur</a>
            </div>
        </div>
        {% endif %}
        {% endif %}

    </div>

    <h1>
        {{shown_id}}
    </h1>

    <!--ANNOTATION-->
    {% if annotating %}
    {% if people.profile >= 2 and people.connecte %}

    <div class="my-3 d-flex justify-content-end">
        <a role="button" class="btn btn-outline-secondary" href="{% url 'genomApp:forum' id=shown_id %}">Forum</a>
    </div>

    <form action="" method="post" novalidate="">
        {% csrf_token %}
        <ul class="list-group">
            <li class="list-group-item"> <b>Nom du gène</b> : <input type="text" class="form-control" name="nom_gene"
                    maxlength="100" required="" id="nom_gene" placeholder={{gene}}></li>
            <li class="list-group-item"> <b>Symbole du gène</b> : <input type="text" class="form-control"
                    name="symbol_gene" maxlength="100" required="" id="symbol_gene" placeholder={{symbol}}></li>
            <li class="list-group-item"> <b>Description</b> : <input type="text" class="form-control" name="description"
                    maxlength="100" required="" id="description" placeholder={{description}}></li>
        </ul>
        <div class="my-3 d-flex justify-content-end">
            <input class="btn btn-outline-success" type="submit" value="Sauvegarder">
        </div> 
    </form>
    {% else %}
    <br>
    <h4><span style="color:rgb(160, 18, 18)">Vous n'avez pas l'autorisation d'annoter cette page.</span></h4>

    {% endif %}

    {% else %}
    {% if view_annotation %} <!--In the case view annotation-->
    <!--<div class="h3 pb-2 mb-4 border-bottom border-dark">Annotation existant</div>-->
    <br>
    <h2>
        Annotation existant
    </h2>
    <ul class="list-group">
        <li class="list-group-item"> <b>Nom du gène</b> : {{annote_gene}}</li>
        <li class="list-group-item"> <b>Symbole du gène</b> : {{annote_gene_symbol}}</li>
        <li class="list-group-item"> <b>Description</b> : {{annote_description}}</li>
    </ul>


    <!--<div class="h3 pb-2 mb-4 border-bottom border-dark">Informations relatives aux gènes</div>-->
    <br>
    <h2>
        Informations relatives aux gènes
    </h2>
    {% endif %}
    <!--VISUALISATION-->
    <ul class="list-group">
        <li class="list-group-item"> <b>Espèce</b> : {{espece}}</li>
        <li class="list-group-item"> <b>Chromosome</b> : {{id_chr}}</li>
        <li class="list-group-item"> <b>Position start</b> : {{start}}</li>
        <li class="list-group-item"> <b>Position end</b> : {{stop}}</li>
        <li class="list-group-item"> <b>Nom du gène</b> : {{gene}}</li>
        <li class="list-group-item"> <b>Symbole du gène</b> : {{ symbol }}</li>
        <li class="list-group-item"> <b>Description</b> : {{ description }}</li>
    </ul>
    {% endif %}


    <!--VISUALISATION DE SEQUENCE-->
    <br>
    <h2>
        Séquences
    </h2>

    <ul class="list-group">
        <li class="list-group-item"> <b>Séquence protéique</b> : {{ seq_aa }}<br>
            <div style="float: right;">
                <a role="button" class="btn btn-outline-success"
                    href="{% url 'genomApp:blastRedirection' result_id=id_pep %}" target="_blank">BLAST</a>
            </div>
        </li>
        <li class="list-group-item"> <b>Séquence nucléotidique (CDS) </b> : {{ seq_nucl }}<br>
            <div style="float: right;">
                <a role="button" class="btn btn-outline-success"
                    href="{% url 'genomApp:blastRedirection' result_id=id_cds %}" target="_blank">BLAST</a>
            </div>
        </li>
    </ul>
</div>
<br>
{% endblock %}
