{% extends 'genomApp/base.html' %}
{% load static %}

{% block title %} Qui sommes-nous ? {% endblock %}

{% block content %}

<body>
    <div class="container">
        <div class="mt-5"></div>
        <div class="h3 pb-2 mb-4 border-bottom border-dark">Qui sommes-nous ?</div>


        <h5 align="justify">
            <p class="titre2">Bienvenue à Genomicus !</p>
            <p>Ce site web vous permet d’explorer les génomes de différentes espèces grâce à notre outil de visualisation.
            Vous pouvez aussi explorer les différents génomes de notre base de données (ou de celle du NCBI) en
            parcourant les informations relatives aux protéines et CDS. </p>
            <p>Genomicus est surtout une communauté scientifique ! En effet, en fonction de votre implication ou de vos
            connaissances biologiques différents rôles peuvent vous être attribués. <b>Rejoignez-nous !</b></p>

            <p>Ce site a vu le jour à l'occasion d'un projet réalisé en Master AMI2B de l'Université Paris-Saclay. <br>
            Notre équipe est composé de 4 personnes. </p>

            <p><b>Clémence Sebe :</b></p>

            <p><b>Lindsay Goulet :</b></p>

            <p><b>George Marchment :</b></p>

            <p><b>Ambre Baumann :</b></p>
        </h5>
    </div>
</body>

{% endblock %}