{% extends 'genomApp/base.html' %}
{% load static %}

{% block title %} Qui sommes-nous ? {% endblock %}

{% block content %}

<body>
    <div class="container">
        <div class="mt-5"></div>
        <div class="h3 pb-2 mb-4 border-bottom border-dark">Qui sommes-nous ?</div>


        <h5 align="justify">
            <p class="titre2">Bienvenue à Genomicus !</p>
            <p>Ce site web vous permet d’explorer les génomes de différentes espèces grâce à notre outil de
                visualisation.
                Vous pouvez aussi explorer les différents génomes de notre base de données (ou de celle du NCBI) en
                parcourant les informations relatives aux protéines et CDS. </p>
            <p>Genomicus est surtout une communauté scientifique ! En effet, en fonction de votre implication ou de vos
                connaissances biologiques différents rôles peuvent vous être attribués. <b>Rejoignez-nous !</b></p>

            <p>Ce site a vu le jour à l'occasion d'un projet réalisé en Master AMI2B de l'Université Paris-Saclay. <br>
                Notre équipe est composé de 4 personnes. </p>

            <p><b>Ambre Baumann :</b>
                <br>
                Ambre, dynamique et passionnée, <br>
                Un amour pour les cappuccinos, une vraie passionnée. <br>
                Son chat Kira, son ami fidèle, toujours à ses côtés, <br>
                Une combinaison unique, une énergie débordante.<br>
            </p>

            <p><b>Lindsay Goulet :</b>
                <br>
                Lindsay, une attention à la précision et aux détails, <br>
                Résoudre les problèmes administratifs et les problèmes d'adultes, c'est son étail. <br>
                Un regard minutieux sur tout, pour trouver la solution, <br>
                Une force indispensable pour tout projet en évolution. <br>
            </p>

            <p><b>George Marchment :</b>
                <br>
                George est une force de la nature, <br>
                Addict aux Kit-Kats et au Coca, il est en quête de plaisir. <br>
                Levé tôt, le premier à arriver, toujours prêt à relever les défis, <br>
                Son énergie contagieuse, un atout pour tout projet qui se démarque. <br>
            </p>

            <p><b>Clémence Sebe :</b>
                <br>
                Clémence, discrète et brillante, <br>
                Un amour pour le volley, une passion constante. <br>
                Toujours prête à donner le meilleur, en avant, <br>
                Elle sera un atout précieux pour tout projet fiable. <br>
            </p>

            <I>Descriptions créées à l'aide de ChatGPT</I>
        </h5>
    </div>
</body>
<br><br>
{% endblock %}