{% extends 'genomApp/base.html' %}
{% load static %}

{% block title %} Résultats {% endblock %}

{% block content %}  

<div class="container">
    <div class="row">
        <div class="mt-5"></div>
        <div class="h3 pb-2 mb-4 border-bottom border-dark">Résultats</div>
        <div class="col-5">
            <div class="my-3">
            </div>
            <h4>Votre recherche :</h4>
            <br>
            <ul class="list-group">
            <table class="table table-sm table-light">
                
                <tbody>
                    
                    {% for c in criterias %}
                    <tr>
                        
                        <th style="width:30%">{{c.key}} </th>
                        <td>{{c.value}} </td>
                    
                    </tr>
                    {% endfor %}
                
                    <tr>
                        <th>Base de données</th>
                        <td>{{ nomBDD }}</td>
                    </tr>
                </tbody>
            
            </table>
        </ul>
        </div>
        <div class="col-1"></div>
        <div class="col-6">
            <div class="mt-5">
                {% if id_results %}
                <div class="results-proteine">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Espèce</th>
                            <th scope="col">Début</th>
                            <th scope="col">Fin</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% for id in results %}
                        <tr>
                            <td><a href="{% url 'genomApp:info_relatives' result_id=id.id %}">{{ id.id }}</a> </td>
                            <td>{{id.espece}}</td>
                            <td>{{id.start}}</td>
                            <td>{{id.stop}}</td>
                            {% endfor %}
                        </tr>

                        </tr>
                    </tbody>
                </table>
                </div>
                {% else %}
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Aucun résultat.</th>
                        </tr>
                    </thead>
                </table>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<br><br>
{% endblock %}