{% extends 'genomApp/base.html' %}
{% load static %}

{% block title %} Validation {% endblock %}

{% block content %}

{% if people.profile >= 3 and people.connecte %}

<div class="container">
    <div class="row">
        <div class="mt-5"></div>
        <div class="h3 pb-2 mb-4 border-bottom border-dark">Validation</div>
        <div class="my-2">
        </div>
        <div class="mt-4"></div>
        <div class="col-6 d-flex justify-content-center">
            <a role="button" class="btn btn-outline-dark btn-lg" href="{% url 'genomApp:valider' %}">Valider des
                annotations</a>
        </div>
        <div class="col-6 d-flex justify-content-center">
            <div class="dropdown" role="group">
                <a id="btnGroupDrop1" role="button" class="btn btn-outline-dark btn-lg dropdown-toggle"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Affecter des annotations
                </a>
                <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <li><a class="dropdown-item" href="{% url 'genomApp:seq_deja_affectees' %}">Déjà Affectées</a></li>
                    <li><a class="dropdown-item" href="{% url 'genomApp:aff_ann' %}">À affecter</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% else %}

<div class="mt-5"></div>
<div class="container-fluid" style="text-align: center;">
        <img src="{% static 'erreur.jpg' %}" alt="erreur" width="1000">
</div>
{% endif %}

{% endblock %}