{% extends 'genomApp/base.html' %}
{% load static %}

{% block title %} À Valider {% endblock %}

{% block content %}

{% if people.profile >= 3 and people.connecte %}

<div class="container">
    <div class="mt-5"></div>
    <div class="h3 pb-2 mb-4 border-bottom border-dark">Valider des annotations</div>
    <div class="my-3">
    </div>

    <!------------------------------------------------------------------------------->

    <h4><text class=titre2>Annotations à valider</text></h4>
    <br>
    <form action="" method="post" novalidate="">
        {% csrf_token %}
        <table class="table table-sm table-light">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Identification</th>
                    <th scope="col">Nom de l'Annotateur</th>
                    <th scope="col">Espèce</th>
                    <th scope="col">Valider</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for v in a_valider %}
                <tr>
                    <th>{{v.num}}.</th>
                    <td>{{v.id}}</td>
                    <td>{{v.name}}</td>
                    <td>{{v.espece}}</td>
                    <td>
                        <div>
                            <input type="checkbox" name="to_validate" id={{v.id}} value={{v.id}} />
                        </div>
                    </td>
                    <td>
                        <a href="{% url 'genomApp:view_annotation' result_id=v.id%}">(View)</a>
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
        <div class="my-3 d-flex justify-content-end">
            <input class="btn btn-outline-success" type="submit" value="Valider">
        </div>

    </form>

    <!------------------------------------------------------------------------------->

    <div class="mt-4">
    </div>
    <h4><text class=titre2>En attente</text></h4>
    <br>
    <table class="table table-sm table-light">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Identification</th>
                <th scope="col">Nom de l'Annotateur</th>
                <th scope="col">Espece</th>
            </tr>
        </thead>
        <tbody>
            {% for v in en_attente %}
            <tr>
                <th>{{v.num}}.</th>
                <td>{{v.id}}</td>
                <td>{{v.name}}</td>
                <td>{{v.espece}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="mt-5">
    </div>
</div>

{% else %}

<div class="mt-5"></div>
<div class="container-fluid" style="text-align: center;">
        <img src="{% static 'erreur.jpg' %}" alt="erreur" width="1000">
</div>

{% endif %}

{% endblock %}