{% extends 'genomApp/base.html' %}
{% load static %}

{% block title %} Visualisation {% endblock %}

{% block content %}

<div class="container">
    <div class="mt-5"></div>
    <div class="h3 pb-2 mb-4 border-bottom border-dark">Visualisation du génome {{id_genome }}</div>
    <div class="my-4">
    </div>
    <div class="text-center mt-5">
        <div id="igvDiv"></div>
    </div>

</div>

<body>

    <script type="module">

        import igv from "https://cdn.jsdelivr.net/npm/igv@2.13.7/dist/igv.esm.min.js"

        const config = {
            reference: {
                fastaURL: "http://127.0.0.1:8000/static/{{espece}}.fa",
                indexURL: "http://127.0.0.1:8000/static/{{espece}}.fa.fai",
                tracks: [
                    {
                        url: "http://127.0.0.1:8000/static/{{espece}}.gff",
                        indexed: false,
                        format:"gff",
                        type:"annotation",
                        displayMode: "EXPANDED"
                    }
                ]
            },
        }

        const browser = await igv.createBrowser(document.getElementById("igvDiv"), config)

    </script>

</body>

{% endblock %}