.fonce {
    color: #848484
}

.list-group {
    word-break: break-all;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

/*https://www.w3schools.com/howto/howto_css_arrows.asp*/

.titre2 {
    color: #41b394
}

details summary>* {
    display: inline;
}

/*https://css-tricks.com/two-issues-styling-the-details-element-and-how-to-solve-them/*/

.nav-tabs .nav-item .nav-link {
    background-color: #41b3959d;
    color: #FFF;
}

.nav-tabs .nav-item .nav-link.active {
    background-color: #FFF;
    color: #41b394;
}

/*https://stackoverflow.com/questions/51701512/how-to-change-the-color-of-active-tab-in-bootstrap*/

.form-check-input:checked {
    background-color: #41b394;
}

input[type='checkbox']:checked {
    accent-color: #41b394;
}


a {
    color: #41b394;
}

a:hover {
    color: #3b7a69;
}

/*https://www.w3schools.com/css/css_link.asp*/

.navbar_bottom {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

body {
    min-height: 100vh;
    position: relative;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0
}

.creation-discussion-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 800px;
    padding: 20px;
    margin: 0 auto;
    background-color: #f2f2f2;
    border: 1px solid #cbc2c0;
    border-radius: 5px;
}

.forum-box {
    margin: 20px auto;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: helvetica;
}

.modification-box {
    margin: 20px auto;
    padding: 20px;
    background-color: #a1a2a2;
    border: 1px solid #a1a2a2;
    border-radius: 5px;
    font-family: helvetica;
}


.results-proteine {
      height: 500px;
      overflow-y: scroll;
}
